html {
  font-size: 100%;
  min-height: 100%;
  position: relative;
}
body {
  /* background-color: #faf2e3; */
  width: auto;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #f7f7f7;
}
* {
  margin: 0;
  padding: 0;
}

/*
 * HEADER
*/
header {
  display: block;
  background-color: #802dc4;
  padding: 20px;
  border-bottom: 5px solid #757575;
}
h1 {
  font-weight: normal;
  padding: 1.5em;
  color: white;
  text-shadow: 1px 1px 0px #444;
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
}

/*
 * NAV
*/
nav {
  background-color: #ee9d22;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #ddd;
}
nav ul {
  display: table;
  width: 1000px;
  margin: auto;
}
nav li {
  display: table-cell;
  text-align: center;
  padding: 1em;
}

/*
 * MAIN
*/
main {
  overflow: auto;
  /* min-height: 30vh; */
  /* background-color: #f7f7f7; */
  width: 100%;
  height: 100%;
  margin: 0;
  /* box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7; */
  padding-top: 20px;
  text-align: center;
}

/**
  * FOOTER
*/
footer {
  background-color: #faf2e4;
  position: absolute;
  width: auto;
  bottom: 0;
  flex-shrink: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-variant: small-caps;
}

/*
 * GENERAL
*/
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(250, 163, 49);
  text-shadow: 0.05em 0.05em 0.1em slategray;
  letter-spacing: 0.2rem;
  margin-bottom: 3vh;
}
p {
  margin-bottom: 1em;
}

body {
  font-size: 1.2em;
  font-family: arial, helvetica, sans-serif;
}
input,
label,
select,
textarea {
  float: left;
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
}
label {
  clear: left;
  padding: 0;
  margin: 0;
}
input[type="submit"] {
  margin-left: 15em;
  width: auto;
  padding: 0.5em 1em;
  clear: both;
  font-size: 1em;
}
form {
  overflow: auto;
  clear: both;
  display: block;
}
blockquote {
  display: table;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}
blockquote p {
  display: table-cell;
  width: 90%;
  vertical-align: top;
}
blockquote form {
  display: table-cell;
  width: 10%;
}
.errors {
  padding: 1em;
  border: 1px solid red;
  background-color: lightyellow;
  color: red;
  margin-bottom: 1em;
  overflow: auto;
}
.errors ul {
  margin-left: 1em;
}
